<input type ="text" [(ngModel)]="searchSymbol" placeholder="Search Symbol">
<button class="btn btn-primary" (click)="symbolSearch()">Search</button>
<table>
  <tr>
    <th>Symbol</th>
    <th>Price</th>
    <th>Last Change</th>
    <th>Actions</th>
  </tr>
  <tr [ngStyle]="{background: (vars) ? '#73c7af' : '#ffffff'}" *ngFor="let x of symbols">
    <td>{{x.symbol}}</td>
    <td>{{x.price}}</td>
    <td>{{x.price}}</td>
    <td><button class="btn btn-danger" (click)="symbolDelete(x)">Delete</button></td>
  </tr>
  <tr *ngIf="isInputProvided"><td><input type="text" [(ngModel)]="symbolName"><button class="btn btn-primary" (click)="symbolSubmit()" >Submit</button></td></tr>

</table>
<button class="btn btn-primary"   (click)="showAddSymbol()">ADD A SYMBOL </button>
